* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  background-color: white;
  position: relative;
}

.logo {
  font-size: 24px;
  align-self: center;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #355c7d;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 40px;
}

.main-nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #355c7d;
  font-weight: bold;
}

.section-hero {
  background: url(img/sirio-hm3efUMoReg-unsplash.jpg);
  position: relative;

  height: 100vh;
  background-size: cover;
  margin-bottom: 40px;
}

.overlay {
  background-color: rgba(11, 11, 11, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.top-events {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

.events-section {
  margin-bottom: 10px;
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #c56c86;
  background-color: #6e8aa4;
  gap: 10px;
  padding: 10px;
}

.gallery img {
  width: 100%;
}

h2,
h3 {
  margin-bottom: 10px;
}
.center-text {
  text-align: center;
}

.section-testimonials {
  padding: 35px;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.testimonial-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.testimonial-name {
  font-size: 16px;
  font-weight: 550;
}

.testimonial-img {
  width: 75px;
  border-radius: 50%;
  margin-bottom: 12px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 35px;
}

.packages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 64px;
  margin: 20px 0;
  row-gap: 64px;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.3rem;
  column-gap: 8rem; */
}

.package-card {
  padding: 30px 50px;
  width: 80%;
  color: #fff;
  text-align: center;
  border-radius: 11px;
  justify-self: end;
}

.p1 {
  background-color: #7e9680;
}

.p2 {
  background-color: #c56c86;
}

.p3 {
  background-color: #725a7a;
}

.p4 {
  background-color: #6e8aa4;
}

.package-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer {
  background-color: #355c7d;
  padding: 40px 30px 15px 30px;
  color: #ededed;
}

.footer {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1.2fr;
  padding-bottom: 12px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 18px;
}

.footer-heading {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.copyright {
  font-size: 18px;
  align-self: center;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 16px;
  color: #ededed;
}

.signin-form {
  background-color: #6e8aa4;
  color: #ededed;
  border-radius: 11px;
  padding: 20px;
  width: 55%;
  margin: 50px auto;
}

.book-form {
  background-color: #c07e55;
}
.bookpackage {
  background-image: url(img/angelina-yan-Kv50bguCyUw-unsplash.jpg);

  background-size: cover;
}

.signin-form label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.signin-form input,
.signin-form textarea,
.signin-form select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 9px;
  background-color: #fdf2e9;
  margin-bottom: 15px;
}
.btn-form {
  text-align: center;
}

td a {
  color: black;
  text-decoration: underline;
}

.form-btn {
  margin-top: 20px;
  padding: 10px 14px;
  background-color: #fdf2e9;
  color: #355c7d;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.back {
  color: #fdf2e9;
  font-weight: 600;
}

.guest-btn {
  margin: 0;
  font-size: 14px;
  padding: 8px 12px;
  background-color: #c64b70;
  color: white;
}

.login {
  background-image: url(img/sirio-hm3efUMoReg-unsplash.jpg);
  background-size: cover;
}

.btn {
  padding: 10px 18px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
}

.pack {
  background-color: #f9f4f1;
}

.mt {
  margin-top: 20px;
}

.card-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 3.2rem;
}

.price {
  font-size: 30px;
  font-weight: 900;
}

.dollar {
  margin-bottom: 15px;
}

.card-list {
  font-size: 18px;
  align-items: center;
  gap: 10px;
}
.admin-dash {
  background-color: #6e8aa4;
}

.userpage {
  background-color: #c56c86;
}

.welcome {
  margin-bottom: 20px;
  font-weight: 600;
}
table {
  width: 800px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
}

thead tr {
  background-color: #355c7d;
  color: #fdf2e9;
}

.thead {
  background-color: #c64b70;
}
tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}


